# htaccess adalah file yg digunakan untuk memodifiaksi konfigurasi apache, bisa dilakukan perfolder

#Option -Indexes -> kalo ada user yg membuka folder yg di dalamnya ada htaccess yg berisi Options -Indexes,
#selama di dalam folder tersebut tidak ada file index dg ekstensi apapun maka jangan tampilkan isi
#foldernya/block access foldernya

Options -Indexes